<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <% if (typeof(title)!="undefined" && title) { %>
    <title><%= title %></title>
    <% } else { %>
      <title>Error</title>
    <% } %>
    <link rel="stylesheet" href="/stylesheets/styles.css">
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"></script>
      <script type="text/javascript" src="/javascripts/map.js"></script>
      <script type="text/javascript" src="/javascripts/inventory.js"></script>
      <script type="text/javascript" src="/javascripts/hooks.js"></script>
    <script type="text/javascript" src="/javascripts/game.js"></script>
  </head>
  <body>
    <div id="game-container" class="w-full h-dvh justify-center bg-blue-200 bg-[url(/images/map.jpg)] bg-cover">
      <div class="bg-blue-500 h-10 p-2 px-6 w-full max-w-xl m-auto text-white text-sm z-10 top-0 absolute left-0 right-0">
        <span class="float-left inline-block relative w-1/3 font-bold">Island Escape</span>  
        <span class="float-right w-auto">
          <img id="settings-icon" src="/images/icon-settings.svg" class="w-[22px] h-auto hover:cursor-pointer inline-block float-right" alt="Game Settings" />
        </span>
      </div>
      <div id="settings-menu" class="hidden w-full max-w-xl clear-both height-auto bg-blue-500 text-white p-2 pt-4 pb-6 px-6 m-auto top-10 absolute left-0 right-0 z-10">
        <hr class="clear-both w-full border-blue-300 mt-4 mb-8" />
        <p class="my-4 font-size">
          Font Size:<br />
          <button id="font-sm" data-size="sm" class="bg-transparent border-1 border-blue-100 hover:bg-blue-50 cursor-pointer text-blue-100 w-16 h-10 pt-0 pb-0 px-2 mx-1 mt-3 mb-8 rounded-sm font-serif text-sm inline-block align-middle float-left">Aa</button>
          <button id="font-base" data-size="base" class="bg-transparent border-1 border-blue-100 hover:bg-blue-50 cursor-pointer text-blue-100 w-12 h-10 pt-0 pb-0 px-2 mx-1 my-3 rounded-sm font-serif text-base inline-block align-middle float-left">Aa</button>
          <button id="font-lg" data-size="lg" class="bg-transparent border-1 border-blue-100 hover:bg-blue-50 cursor-pointer text-blue-100 h-10 w-16 pt-0 pb-0 px-2 mx-1 my-3 rounded-sm font-serif text-lg inline-block align-middle float-left">Aa</button>
          <button id="font-xl" data-size="xl" class="bg-transparent border-1 border-blue-100 hover:bg-blue-50 cursor-pointer text-blue-100 h-10 w-16 pt-0 pb-0 px-2 mr-1 my-3 rounded-sm font-serif text-xl inline-block align-middle float-left">Aa</button>          
        </p>
        <hr class="clear-both w-full border-blue-300 mt-4 mb-8" />
        <p class="my-4 typing-effect">
          Text Typing Effect:<Br />
          <button id="typing-on" data-value="on" class="bg-transparent border-1 border-blue-100 hover:bg-blue-50 cursor-pointer text-blue-100 w-16 h-10 pt-0 pb-0 px-2 mx-1 mt-3 mb-8 rounded-sm font-mono text-sm inline-block align-middle float-left">On</button>
          <button id="typing-off" data-value="off" class="bg-transparent border-1 border-blue-100 hover:bg-blue-50 cursor-pointer text-blue-100 w-16 h-10 pt-0 pb-0 px-2 mx-1 mt-3 mb-8 rounded-sm font-mono text-sm inline-block align-middle float-left">Off</button>
        </p>
        <hr class="clear-both w-full border-blue-300 my-8" />
        <p class="my-4">
          Game Progress:<br />
          <span id="complete-container" class="w-[250px] border-1 border-blue-50 text-xs p-0 inline-block m-0 ml-2 mt-4"><span id="complete" class="w-[28px] bg-blue-600 text-xs p-0 inline-block">&nbsp;</span>11%</span><br />
          <button id="reset-game" class="clear-both bg-blue-100 hover:bg-blue-50 text-blue-500 cursor-pointer text-blue-600 p-3 px-4 mx-0 my-3 rounded-sm ml-2 mt-2">NEW GAME</button>
        </p>
        <hr class="clear-both w-full border-blue-300 mt-4" />
        <p class="my-4 clear-both w-full align-right"><button id="close-settings-menu" class="float-right mx-auto bg-blue-100 hover:bg-blue-50 text-blue-500 cursor-pointer text-blue-600 p-3 px-4 mx-0 my-3 rounded-sm ml-2 mt-2">CLOSE</button></p>
      </div>
      <div id="game" class="w-full max-w-xl p-4 pt-5 pb-10 h-screen mt-0 ml-auto mr-auto font-serif text-lg overflow-y-scroll z-5 bg-gray-50 relative">
        <div id="locations"></div>
        <div id="buttons" class="hidden w-full h-auto mt-6 mb-2 p-0">
          <p class="directions m-0 w-full flex justify-center items-center">
            <button data-dir="north" class="bg-green-500 text-white disabled:text-gray-200 font-mono w-auto p-3 px-4 mx-1 my-3 rounded-sm text-sm cursor-pointer disabled:cursor-auto hover:bg-green-800 disabled:hover:bg-green-500 disabled:opacity-30">NORTH</button>
            <button data-dir="east" class="bg-green-500 text-white disabled:text-gray-200 font-mono w-auto p-3 px-4 mx-1 my-3 rounded-sm text-sm cursor-pointer disabled:cursor-auto hover:bg-green-800 disabled:hover:bg-green-500 disabled:opacity-30">EAST</button>
            <button data-dir="south" class="bg-green-500 text-white disabled:text-gray-200 font-mono w-auto p-3 px-4 mx-1 my-3 rounded-sm text-sm cursor-pointer disabled:cursor-auto hover:bg-green-800 disabled:hover:bg-green-500 disabled:opacity-30">SOUTH</button>
            <button data-dir="west" class="bg-green-500 text-white disabled:text-gray-200 font-mono w-auto p-3 px-4 mx-1 my-3 rounded-sm text-sm cursor-pointer disabled:cursor-auto hover:bg-green-800 disabled:hover:bg-green-500 disabled:opacity-30">WEST</button>
          </p>
          <p class="items m-0 w-full flex justify-center items-center">
            <button data-action="examine" class="examine bg-blue-500 text-white disabled:text-gray-200 font-mono w-auto p-3 px-4 mx-1 my-3 rounded-sm text-sm cursor-pointer disabled:cursor-auto hover:bg-blue-800 disabled:hover:bg-blue-500 disabled:opacity-30">EXAMINE</button>
            <button data-action="get" class="get bg-blue-500 text-white disabled:text-gray-200 font-mono w-auto p-3 px-4 mx-1 my-3 rounded-sm text-sm cursor-pointer disabled:cursor-auto hover:bg-blue-800 disabled:hover:bg-blue-500 disabled:opacity-30">GET</button>
            <button data-action="drop" class="drop bg-blue-500 text-white disabled:text-gray-200 font-mono w-auto p-3 px-4 mx-1 my-3 rounded-sm text-sm cursor-pointer disabled:cursor-auto hover:bg-blue-800 disabled:hover:bg-blue-500 disabled:opacity-30">DROP</button>
            <button data-action="use" class="use bg-blue-500 text-white disabled:text-gray-200 font-mono w-auto p-3 px-4 mx-1 my-3 rounded-sm text-sm cursor-pointer disabled:cursor-auto hover:bg-blue-800 disabled:hover:bg-blue-500 disabled:opacity-30">USE</button>
          </p>
          <p class="examine m-0 w-full flex justify-center items-center"></p>
          <p class="get m-0 w-full flex justify-center items-center"></p>
          <p class="drop m-0 w-full flex justify-center items-center"></p>
          <p class="use m-0 w-full flex justify-center items-center"></p>
          <p class="look m-0 w-full flex justify-center items-center">
            <button data-action="look" class="look-around bg-yellow-500 text-white disabled:text-gray-200 font-mono w-auto p-3 px-4 mx-1 my-3 rounded-sm text-sm cursor-pointer disabled:cursor-auto hover:bg-yellow-800 disabled:hover:bg-yellow-500 disabled:opacity-30">LOOK AROUND AGAIN</button>
          </p>
        </div>
      </div>
    </div>
  </body>
  </html>
